 
/* XC Styling*/
 #xc_header {
      background-color: transparent;
      padding: 20px;
      border-bottom: 1px solid #555;
      border: solid 1px white;
      margin: 15px;
      border-radius: 5px;
}
#xc_body {
    margin: 35px;
}

.panel > .panel-heading {
    background: #989898;
}

.panel-body {
    background: #C0C0C0; 
}
.modal-dialog { 
max-width : 100% ;
}

/*Home Page Styling*/
.icon {
    margin-right: 15px; 
    font-size: 8em; 
    color: white;
    position: absolute; 

}
li
{
    list-style-type: none;
}
.link {
	font-size: 20px !important;
	text-decoration: none !important;
	color: #ddd !important;
}
.red {
    color: #FE2E2E;
}
.white {
    color: #FFFFFF;
}
.center {
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.circle {
	position: absolute;
	top: 50%;
	left: 50%;
}
#main {
  width: 82%;
   margin: 15px auto 0 auto;
    padding: 2%;
    display:table;
}
#main ul li
{
    display:table-cell;
}
#main ul li a
{
    vertical-align:middle;
    text-align:center;

}
#main ul li a img
{
    vertical-align:middle;
    text-align:center;
}